@model EncyclopediaService.Api.Models.Edit.EditStarring
@{
}

<div class="container-fluid">

	<form id="form-modal-add-starring" asp-page-handler="addStarring" method="post">
		<input type="hidden" asp-for="@(Model.Id)" value="">
		<input type="hidden" asp-for="@(Model.Picture)" value="">
		<div class="row">

			<div class="col-6">
				<div class="row">

					<img src="~/img/grid_person_placeholder.png" style="width:fit-content" />

				</div>
				<div class="row">
					<ul class="list-group list-group-flush">
						<li class="list-group-item form-group position-relative">
							<label asp-for="Name">Provide name</label>
							<br>
							<input id="search-starring" class="form-control" placeholder="Search.." asp-for="Name" autofocus>
							<ul id="suggestions-starring" class="list-group search-suggestions"></ul>
							<br>
							<span asp-validation-for="Name" class="text-danger"></span>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-6">
				<ul class="list-group list-group-flush">
					<li class="list-group-item form-group">
						<label asp-for="Jobs">Choose occupation</label>
						<div class="row row-cols-2">

							@foreach (int job in Enum.GetValues(typeof(Job)))
							{
								@if (job == 0)
								{
									continue;
								}
								<div class="col-6 ps-0 pe-0">
									<input id="add-starring-jobs_@job" class="name-dependant" type="checkbox" name="JobsBind" value="@job" value="@job" @(((Model.Jobs & (Job)job) != 0) ? "checked" : "") disabled />
									<label for="add-starring-jobs_@job" class="fs-6">@((Job)job)</label>
								</div>
							}

						</div>
						<span asp-validation-for="@Model.Jobs" class="text-danger"></span>
					</li>
					<li class="list-group-item form-group">
						<label asp-for="RoleName">Provide actor's role name</label>
						<br>
						<input class="form-control name-dependant jobs-dependant" asp-for="RoleName" disabled>
					</li>
					<li class="list-group-item form-group">
						<label asp-for="RolePriority">Choose role priority</label>
						<br>
						<select class="form-control name-dependant jobs-dependant" asp-for="RolePriority" asp-items="Html.GetEnumSelectList<RolePriority>()" disabled></select>
					</li>
				</ul>
			</div>

		</div>
	</form>
</div>