@using EncyclopediaService.Api.Extensions;
@model Starring
@{
}

<div class="col">
    <div class="card mb-4">
        <div class="row">
            <div class="col-md-10">
                <a href="#">
                    <img src=@(Model.Picture) style="width:130px;height:130px" alt="@(Model.Name)">
                </a>

            </div>

            <div class="col-md-2" style="margin-left:-7px">
                <div class="dropdown" style="margin-left:-7px;max-width:7rem">
                    <button id="dropdown-edit-studios" type="button" style="border:none;background-color:transparent;" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg width="7" height="20" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="4" cy="4" r="2" stroke="none" fill="#cccccc" stroke-width="0" />
                            <circle cx="4" cy="10" r="2" stroke="none" fill="#cccccc" stroke-width="0" />
                            <circle cx="4" cy="16" r="2" stroke="none" fill="#cccccc" stroke-width="0" />
                        </svg>
                    </button>

                    <ul class="dropdown-menu mt-2" aria-labelledby="dropdown-edit-studios">
                        @if ((Model.Jobs & Job.Actor) != 0)
                        {
                            <li><a class="dropdown-item" data-bs-target="#modal-edit-starring" data-bs-toggle="modal" href="#">Edit</a></li>
                        }
                        <li><a class="dropdown-item" data-bs-target="#modal-delete-starring" data-bs-toggle="modal" href="#">Delete</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card-body border-bottom" style="padding-bottom:1rem;">
            <div class="text-truncate" style="max-width:200px">
                <h6 class="card-text fw-normal">
                    <a href="#" class="text-decoration-none link-dark">@Model.Name</a>
                </h6>
            </div>
            <div class="text-wrap" style="max-width:200px">
                <div class="row">
                    <div class="col-9 offset-3">@string.Join(" | ", Model.Jobs.BreakJobsFlag())</div>
                    @if (Model.RolePriority != null)
                    {
                        <div class="col-12 mb-2">@Model.RoleName</div>
                        <div class="col-12 mb-2">@Model.RolePriority.ToString() cast</div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>