@using EncyclopediaService.Api.Models.Display;
@using EncyclopediaService.Api.Extensions;
@model ProductionStudio
@{
    bool IsAdmin = User.IsAdmin();
}

<div id="@Model.Id" class="col-6 mb-2 position-relative records hide-delete hide-delete-studios" show-toggled-by="delete-studio">
	<input type="hidden" id="partial" name="partial" value="card" />
    
	<a href="/encyclopedia/studios/@Model.Id" class="studio-logo-grid">
		@if (Model.Picture != null)
		{
			<img src="@(Model.PictureUri)" class="img img-fluid img-block" alt="@(Model.Name)">
		}
		else
		{
			<img class="img img-fluid img-block img-placeholder" alt="@(Model.Name)">
		}
    </a>
    @if (IsAdmin)
    {
        <button id="delete-studio-@Model.Id" value="@Model.Id" type="button" class="editor btn-close position-absolute del-record"
                data-bs-target="#modal-delete-element" data-bs-toggle="modal" aria-label="Close"></button>
    }
</div>