@page "{id}/marked"
@using Shared.UserDataService.Models.Flags;
@using ProfileService.Api.Models.Display;
@using ProfileService.Api.Extensions;
@model ProfileService.Api.Views.Profiles.MarkedModel
@{
	bool IsUser = User.IsProfileOwner(Model.Id);
}

<body>

	<div class="container mt-5 mb-3">

		<div class="row border-2 border-black border-bottom ">

			<div class="col-10"><h3 class="mb-3"> Lists of marked cinemas </h3></div>

			<div class="col-2">

				@if (IsUser)
				{
					<div class="editor dropdown">
						<button id="dropdown-edit-marked" type="button" style="border:none;background-color:transparent;" data-bs-toggle="dropdown" aria-expanded="false">
							<span class="icon icon-md icon-options-dots"></span>
						</button>

						<ul class="dropdown-menu mt-2" aria-labelledby="dropdown-edit-marked">
							<li>
								<button class="dropdown-item show-close-buttons">
									Delete
								</button>
							</li>
						</ul>

					</div>

					<div class="hide-editor-options editor hide-close-buttons">
						<button class="btn btn-secondary">
							Cancel
						</button>
					</div>
				}

			</div>

		</div>

		
		<div class="row">

			<div class="col">
				<div class="row">

					<div class="col-11">

						<div id="list-tabs">

							<div id="tabfolder">
								<ul id="tabs" role="tablist" class="nav nav-tabs pb-2">

									<li class="nav-item switch-tab">
										<button id="mark-favored" title="favorite" role="tab" class="nav-link link active"
												data-bs-toggle="tab" data-bs-target="#tab-@Label.Favored" aria-controls="tab-@Label.Favored" aria-selected="true">
											<div class="icon-wrapper">
												<svg id="heart" class="label-icons" width="36" height="36" xmlns="http://www.w3.org/2000/svg">
													<polygon points="18,12 23,7 26,7 31,12 31,17 27,24 19,30 16,30 8,24 4,17 4,12 9,7 12,7 17,12" />
												</svg>
											</div>
										</button>
									</li>

									<li class="nav-item switch-tab">
										<button id="mark-planned" title="planned" class="nav-link link"
												data-bs-toggle="tab" data-bs-target="#tab-@Label.Planned" aria-controls="tab-@Label.Planned" aria-selected="false">
											<div class="icon-wrapper">
												<svg id="clock" class="label-icons" width="36" height="36" xmlns="http://www.w3.org/2000/svg">
													<polygon class="empty" points="15,3 10,5 5,10 4,13 4,20 5,23 9,28 15,31 20,31 26,28 30,23 31,20 31,13 30,10 25,5 20,3" />
													<line class="thin" x1="17" x2="17" y1="17" y2="9"></line>
													<line class="thin" x1="17" x2="22" y1="17" y2="22"></line>
													<line x1="16" x2="18" y1="17" y2="17" stroke-width="3"></line>
												</svg>
											</div>
										</button>
									</li>

									<li class="nav-item switch-tab">
										<button id="mark-watching" title="watching" class="nav-link link"
												data-bs-toggle="tab" data-bs-target="#tab-@Label.Watching" aria-controls="tab-@Label.Watching" aria-selected="false">
											<div class="icon-wrapper">
												<svg id="monitor" class="label-icons" width="36" height="36" xmlns="http://www.w3.org/2000/svg">
													<polygon class="empty" points="7,4 4,7 4,23 7,26 28,26 31,23 31,7 28,4" />
													<polygon points="12,10 10,12 10,18 12,20  23,20 25,18 25,12 23,10" />
													<line class="thin" x1="14" x2="21" y1="27" y2="27" />
													<line x1="10" x2="25" y1="30" y2="30" />
												</svg>
											</div>
										</button>
									</li>

									<li class="nav-item switch-tab">
										<button id="mark-seen" title="seen" class="nav-link link"
												data-bs-toggle="tab" data-bs-target="#tab-@Label.Seen" aria-controls="tab-@Label.Seen" aria-selected="false">
											<div class="icon-wrapper">
												<svg id="eye" class="label-icons" width="36" height="36" xmlns="http://www.w3.org/2000/svg">
													<polygon class="empty" points="14,4 9,6 6,11 4,14 4,19 5,22 8,26 11,28 14,29 20,29 23,28 26,26 29,22 30,19 30,13 29,11 25,6 20,4" />
													<polygon points="17,7 20,12 21,13 23,14 27,14 27,16 27,17 25,9" />
													<polygon points="17,27 20,22 21,21 23,20 27,20 27,17 27,19 25,25" />
													<polygon points="17,27 14,22 13,21 11,20 7,20 7,17 7,19 10,25" />
													<polygon points="17,7 14,12 13,13 11,14 7,14 7,16 7,17 10,9" />
												</svg>
											</div>
										</button>
									</li>

								</ul>

							</div>

							<div id="list" class="card card-body">

								<div class="tab-content hide-delete">

									@foreach(int mark in Enum.GetValues<Label>())
									{
										if (mark == 0) continue;

										<div id="tab-@((Label)mark)" class="tab-pane @((mark==1?"show active":"")) " role="tabpanel" aria-labelledby="mark-@((Label)mark)" style="width:100%;">

											@if (Model.List.Any(r => r.Label == (Label)mark))
											{
												uint q = 0;
												<table class="table-list table">

													<thead>

														<tr>
															<th scope="col" style="width:10%;"> <span> N </span> </th>
															<th scope="col"> <span> Name </span> </th>
															<th scope="col" style="width:30%;"> <span> Added </span> </th>
															<th scope="col" style="width:5%;"> </th>

														</tr>

													</thead>

													<tbody>
														@foreach (Marked record in Model.List.Where(r => r.Label == (Label)mark))
														{
															q++;
															<tr class="record">
																<th scope="row" style="width:10%;"> <span>@q</span> </th>

																<td>
																	<div class="text-truncate">
																		<a class="nav-link link-opacity-50-hover" href="@(Url.PageLink("/Index", "Encyclopedia", new {path = $"/cinemas/{record.Id}"}))">
																			@record.Name
																		</a>
																	</div>
																</td>

																<td style="width:30%;">@record.AddedAt.ToString("yyyy-MM-dd HH:mm")</td>

																<td>
																	@if (IsUser)
																	{
																		<form method="post" >
																			<button id="delete-record-@record.Id" value="@record.Id" class="btn-close position-absolute del-record"
																			formaction="?handler=Delete&cinemaId=@record.Id&label=@record.Label" aria-label="Delete" type="submit"></button>
																		</form>
																	}
																</td>
															</tr>
														}

													</tbody>

												</table>
											}
											else
											{
												<div class="d-flex justify-content-center">
													<p class="empty-list-message"> this list is currently empty.. </p>
												</div>
											}
										</div>


									}

								</div>

							</div>

							<div id="tabs-footer" class="bg-black pt-5"></div>

						</div>

					</div>


					<div class="col-1"></div>
				</div>
			</div>

		</div>

	</div>

	<script src="~/js/marked_events.js" asp-append-version="true" type="module"></script>
</body>