@page "{id}"
@using ProfileService.Api.Extensions;
@model ProfileService.Api.Views.Profiles.ProfileModel
@{
	bool IsUser = User.IsProfileOwner(Model.Id);
	bool IsUserAdmin = Model.Role.Contains("Administrator") && !Model.Role.Contains("Super");
	bool IsSuperAdmin = User.IsSuperAdmin();
}

<body>

	@if (IsUser)
	{
		<!-- Edit Main Information Popup -->
		<form-popup id="modal-edit-main" title="Edit main information" lock="true" save-close="false" scroll="true">
			<div class="container-fluid">
				<partial name="_EditMain" model="Model.EditMain" />
			</div>
		</form-popup>

		<!-- Edit Profile Picture Popup -->
		<form-popup id="modal-edit-picture" title="Choose studio logo" lock="true" save-close="true" scroll="true">
			<div class="container-fluid">
				<partial name="_EditPicture" model="Model.EditProfilePicture" />
			</div>
		</form-popup>		
		
		<!-- Manage Profile Popup -->
        <form-popup id="modal-manage-profile" form="form-manage-profile" size="lg" lock="true" save-close="true" scroll="false" add-button="false">
            <div class="container-fluid">
                <form id="form-manage-profile" method="post">

                    <div class="d-flex vstack w-100 justify-content-center align-items-center">

                        <p id="label-delete-profile" class="label-delete no-display fs-4 fw-bold">Are you sure you want to delete your profile?</p>

                        <div class="d-flex hstack gap-4 h-25 justify-content-center">
                            <div class="d-flex hstack gap-4 h-25" style="width:80%">
                                <button value="submit" type="submit" class="btn btn-secondary w-50" data-bs-dismiss="modal">Delete</button>
                                <button value="cancel" type="submit" class="btn btn-secondary w-50" data-bs-dismiss="modal">Cancel</button>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
        </form-popup>	
	}

	@if (IsSuperAdmin)
	{
		<!-- Manage Profile Popup -->
        <form-popup id="modal-manage-profile" form="form-manage-profile" size="lg" lock="true" save-close="true" scroll="false" add-button="false">
            <div class="container-fluid">
                <form id="form-manage-profile" method="post">
                    <div class="d-flex vstack w-100 justify-content-center align-items-center">

                        <p id="label-grant-role"  class="label-delete no-display fs-4 fw-bold">Grant this user an admin role?</p>
                        <p id="label-revoke-role" class="label-delete no-display fs-4 fw-bold">Revoke an admin role from this user ?</p>
                        <p id="label-delete-profile" class="label-delete no-display fs-4 fw-bold">Delete this user's profile?</p>

                        <div class="d-flex hstack gap-4 h-25 justify-content-center">
                            <div class="d-flex hstack gap-4 h-25" style="width:80%">
                                <button value="submit" type="submit" class="btn btn-secondary w-50" data-bs-dismiss="modal">Confirm</button>
                                <button value="cancel" type="submit" class="btn btn-secondary w-50" data-bs-dismiss="modal">Cancel</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </form-popup>		
	}


    <h1>Profile</h1>
    <div class="container mt-5" style="margin-bottom:6rem">

		<div class="row">

			<div class="col-md-10">
				<span class="fs-4">@Model.Profile.Username</span>
			</div>

			<div class="col-md-2">

                @if(IsUser)
                {
					<div class="editor dropdown">
						<button id="dropdown-manage-profile" type="button" style="border:none;background-color:transparent;" data-bs-toggle="dropdown" aria-expanded="false">
							<span class="icon icon-md icon-options-dots"></span>
						</button>

						<ul class="dropdown-menu mt-2" aria-labelledby="dropdown-manage-profile">
							<li>
								<button class="show-editor-options dropdown-item">
									Edit profile
								</button>
                            </li>

							<li class="mt-3">
								<button id="manage-delete-profile" class="dropdown-item" value="@Model.Id" 
								data-bs-target="#modal-manage-profile" data-bs-toggle="modal" target-label="#label-delete-profile"> 
									Delete profile 
								</button>
							</li>
						</ul>

					</div>

					<div class="hide-editor-options editor hide-close-buttons">
						<button class="btn btn-secondary">
							Cancel
						</button>
					</div>
 
                }
				else if(IsSuperAdmin)
				{
					<div class="editor dropdown">
						<button id="dropdown-manage-profile" type="button" style="border:none;background-color:transparent;" data-bs-toggle="dropdown" aria-expanded="false">
							<span class="icon icon-md icon-options-dots"></span>
						</button>

						<ul class="dropdown-menu mt-2" aria-labelledby="dropdown-edit-main">

							<li>
								<button id="manage-profile-role" manage-role="@(IsUserAdmin ? "revoke" : "grant")" class="dropdown-item" value="@Model.Id" 
								data-bs-target="#modal-manage-profile" data-bs-toggle="modal" target-label="#label-@(IsUserAdmin ? "revoke" : "grant")-role"> 
									@(IsUserAdmin ? "Revoke Admin" : "Grant Admin") 
								</button>
							</li>
									 
							<li class="mt-3">
								<button id="manage-delete-profile" class="dropdown-item" value="@Model.Id" 
								data-bs-target="#modal-manage-profile" data-bs-toggle="modal" target-label="#label-delete-profile"> 
									Delete profile 
								</button>
							</li>
								
						</ul>
					</div>
				}

			</div>

		</div>

		<hr>
		<div class="row"></div>

		<div class="row">

			<!-- Profile Picture Block -->
			<div class="col-md-4 offset-1 position-relative">

				<!-- Profile Picture -->
				<div class="col-md-10 profile-picture">
					<div class="row">
						@if (Model.Profile.Picture != null)
						{
							<img src="@(Model.Profile.PictureUri)" class="img img-fluid" alt="Poster Image">
						}
						else
						{
							<img class="img img-fluid img-placeholder ignore" alt="Poster Image">
						}
					</div>
				</div>

				<!-- Profile Picture Options -->
				<div class="col-md-2 position-absolute end-0 top-0">
					@if (IsUser)
					{
						<div class="editor editor-toggle dropdown">
							<button id="dropdown-edit-picture" type="button" style="border:none;background-color:transparent;" data-bs-toggle="dropdown" aria-expanded="false">
								<span class="icon icon-md icon-options-dots"></span>
							</button>

							<ul class="dropdown-menu mt-2" aria-labelledby="dropdown-edit-picture">
								<li>
									<a class="dropdown-item" data-bs-target="#modal-edit-picture" data-bs-toggle="modal" href="#">Replace profile picture</a>
								</li>
							</ul>

						</div>
					}
				</div>

			</div>


			<div class="col-md-7">
				<div class="row">

					<!-- Main Object Information Col-1 -->
					<div class="col-md-5">
						<ul class="list-group list-group-flush">
							<li class="list-group-item list-group-item-secondary mb-4 border-bottom shadow-sm fs-5">Birthdate</li>
							<li class="list-group-item mb-4 border-bottom border-info fs-5">@(Model.Profile.Birthdate.Year == 1900 ? "-" : Model.Profile.Birthdate.ToString("dd-MM-yyyy"))</li>
						</ul>
					</div>

					<div class="col-md-1"></div>

					<!-- Main Object Information Col-2 (Optional) -->
					<div class="col-md-5"></div>

					<!-- Main Object Information Options -->
					<div class="col-md-1">
						@if (IsUser)
						{
							<div class="editor editor-toggle dropdown">
								<button id="dropdown-edit-main" type="button" style="border:none;background-color:transparent;" data-bs-toggle="dropdown" aria-expanded="false">
									<span class="icon icon-md icon-options-dots"></span>
								</button>

								<ul class="dropdown-menu mt-2" aria-labelledby="dropdown-edit-main">
									<li><a class="dropdown-item" data-bs-target="#modal-edit-main" data-bs-toggle="modal" href="#">Edit information</a></li>
								</ul>
							</div>
						}

					</div>

				</div>
			</div>

		</div>

		<!-- Description Block -->
		<hr>
		<div class="row">
			<ul class="list-group list-group-flush">
				<li class="list-group-item list-group-item-secondary mb-4 border-bottom shadow-sm fs-5">About</li>
				<li class="list-group-item mb-8 border-bottom shadow-sm fs-5">
					@(Model.Profile.Description)
				</li>
			</ul>
		</div>

    </div>

	<script src="~/js/profile_events.js" asp-append-version="true" type="module"></script>
</body>