@model CinemaRecord
@{
}

<div class="card mb-4">
	<div class="row">
		<div class="col-md-10">
			<a href="/encyclopedia/cinemas/@Model.Id">
				<img src=@(Model.Picture) style="width:130px;" alt="@(Model.Name)">
			</a>

		</div>

		<div class="col-md-2" style="margin-left:-7px">
			<div class="dropdown" style="margin-left:-7px;max-width:7rem">
				<button id="dropdown-edit-filmography" type="button" style="border:none;background-color:transparent;" data-bs-toggle="dropdown" aria-expanded="false">
					<svg width="7" height="20" xmlns="http://www.w3.org/2000/svg">
						<circle cx="4" cy="4" r="2" stroke="none" fill="#cccccc" stroke-width="0" />
						<circle cx="4" cy="10" r="2" stroke="none" fill="#cccccc" stroke-width="0" />
						<circle cx="4" cy="16" r="2" stroke="none" fill="#cccccc" stroke-width="0" />
					</svg>
				</button>

				<ul class="dropdown-menu mt-2" aria-labelledby="dropdown-edit-filmography">
					<li><a class="dropdown-item" data-bs-target="#modal-delete-filmography" data-bs-toggle="modal" href="#">Delete</a></li>
				</ul>
			</div>
		</div>
	</div>

	<form id="update-reuse-edit-filmography-@Model.Id" method="post">
		<input type="hidden" asp-for="Id" value="@Model.Id" />
		<input type="hidden" asp-for="Name" value="@Model.Name" />
		<input type="hidden" asp-for="Year" value="@Model.Year" />
		<input type="hidden" asp-for="Picture" value="@Model.Picture" />
		<div class="card-body border-bottom" style="padding-bottom:1rem;">
			<div class="text-truncate" style="max-width:200px">
				<h6 class="card-text fw-normal text-truncate">
					<a href="/encyclopedia/cinemas/@Model.Id" class="text-decoration-none link-dark">@Model.Name</a>
				</h6>
			</div>
			<div class="text-wrap" style="max-width:200px">
				<div class="row">
					<div class="col-6 offset-6">@Model.Year</div>
				</div>
			</div>
		</div>
	</form>
</div>
