@page "{id}"
@using EncyclopediaService.Api.Extensions;
@model EncyclopediaService.Api.Views.Encyclopedia.Persons.PersonModel;
@{
    ViewData["Title"] = "Person";

    var Role = User.FindFirst("role");
    bool IsAdmin = User.IsAdmin();
}


@section scripts {
<partial name="_ValidationScriptsPartial" />
}

<body>
    @if (IsAdmin)
    {
        <!-- Edit Main Information Popup -->
        <form-popup id="modal-edit-main" title="Edit main information" lock="true" save-close="false" scroll="true">
            <div class="container-fluid">
                <form id="form-edit-main" asp-page-handler="editPerson" class="trim-inputs" method="post">
                    <partial name="_EditMain" model="Model.EditMain" />
                </form>
            </div>
        </form-popup>

        <!-- Edit Person Picture Popup -->
        <form-popup id="modal-edit-picture" form="form-edit-picture" title="Choose person picture" lock="true" save-close="true" scroll="true">
            <form id="form-edit-picture" asp-page-handler="editPicture" class="trim-inputs" method="post" enctype="multipart/form-data">
                <partial name="_EditPicture" model="Model.EditPicture" />
            </form>
        </form-popup>

        <!-- Add Filmography Popup -->
        <form-popup id="modal-add-filmography" form="form-add-filmography" title="Find and choose new film" lock="true" save-close="false" scroll="false">
            <div class="container-fluid">
                <form id="form-add-filmography" asp-page-handler="addFilmography" class="trim-inputs" method="post">
                    <partial name="_AddFilm" model="Model.EditFilm" />
                </form>
            </div>
        </form-popup>

		
        <form-popup id="modal-delete-element" form="form-delete-element" size="lg" lock="true" save-close="true" scroll="false" add-button="false">
            <div class="container-fluid">
                <form id="form-delete-element" method="post">
                    <input type="hidden" asp-for="RecordId"/>

                    <div class="d-flex vstack w-100 justify-content-center align-items-center">

                        <p class="label-delete label-person no-display fs-4 fw-bold">Delete this person page?</p>
                        <p class="label-delete label-filmography no-display fs-4 fw-bold">Delete filmography record for this cinema page?</p>

                        <div class="d-flex hstack gap-4 h-25 justify-content-center">
                            <div class="d-flex hstack gap-4 h-25" style="width:80%">
                                <button value="delete" type="submit" class="btn btn-secondary w-50" data-bs-dismiss="modal">Delete</button>
                                <button value="cancel" type="submit" class="btn btn-secondary w-50" data-bs-dismiss="modal">Cancel</button>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
        </form-popup>
    }
    

    <h1>Person</h1>
    <div class="container mt-5" style="margin-bottom:6rem">

        <div class="row">

            <div class="col-md-9 offset-md-1">
                <h1 class="display-5">@Model.Person.Name</h1>
            </div>

            <div class="col-md-2">

                @if(IsAdmin)
                {
                        <div class="editor dropdown">
                            <button id="dropdown-edit-cinema" type="button" style="border:none;background-color:transparent;" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="icon icon-md icon-options-dots"></span>
                            </button>

                            <ul class="dropdown-menu mt-2" aria-labelledby="dropdown-edit-cinema">
                                <li>
                                    <button class="show-editor-options dropdown-item">
                                        Edit
                                    </button>
                                </li>

                                <li>
                                    <button class="dropdown-item" value="@Model.Id"
								    data-bs-target="#modal-delete-element" data-bs-toggle="modal" href="#">
									    Delete
								    </button>
                                </li>
                            </ul>

                        </div>

                        <div class="hide-editor-options editor hide-close-buttons">
                            <button class="btn btn-secondary">
                                Cancel
                            </button>
                        </div>
                }

            </div>

        </div>

        <hr>
        <div class="row"></div>

        <div class="row">

            <!-- Person Picture Block -->
            <div class="col-md-4 offset-1 position-relative">

                <!-- Person Picture -->
                <div class="col-md-10 person-picture">
                    @if (Model.Person.Picture != null)
                    {
                        <img src="@(Model.Person.PictureUri)" class="img img-fluid" alt="Person Picture">
                    }
                    else
                    {
                        <img class="img img-fluid img-placeholder" alt="Person Picture">
                    }
                </div>

                <!-- Person Picture Options -->
                <div class="col-md-2 position-absolute end-0 top-0">
                    @if (IsAdmin)
                    {
                        <div class="editor editor-toggle dropdown">
                            <button id="dropdown-edit-picture" type="button" style="border:none;background-color:transparent;" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="icon icon-md icon-options-dots"></span>
                            </button>

                            <ul class="dropdown-menu mt-2" aria-labelledby="dropdown-edit-picture">
                                <li>
                                    <a class="dropdown-item" data-bs-target="#modal-edit-picture" data-bs-toggle="modal" href="#">Replace picture</a>
                                </li>
                            </ul>

                        </div>
                    }
                </div>

            </div>


            <div class="col-md-7">
                <div class="row">

                    <!-- Main Object Information Block -->
                    <div class="col position-relative">

                        <!-- Main Object Information Col-1 -->
                        <div class="col-md-5">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item list-group-item-secondary mb-4 border-bottom shadow-sm fs-5">Birthdate</li>
                                <li class="list-group-item mb-4 border-bottom border-info fs-5">@(Model.Person.BirthDate.ToString("dd-MMM-yyyy"))</li>

                                <li class="list-group-item list-group-item-secondary mb-4 border-bottom shadow-sm fs-5">Occupations</li>
                                <li class="list-group-item mb-4 border-bottom border-info fs-5">@string.Join(" | ", Model.Person.Jobs.BreakJobsFlag())</li>

                                <li class="list-group-item list-group-item-secondary mb-4 border-bottom shadow-sm fs-5">Country of origin</li>
                                <li class="list-group-item mb-4 border-bottom border-info fs-5">@(Model.Person.Country == 0 ? " - " : Model.Person.Country.ToString())</li>
                            </ul>
                        </div>

                        <div class="col-md-1"></div>

                        <!-- Main Object Information Col-2 (Optional) -->
                        <div class="col-md-5"></div>

                        <!-- Main Object Information Options -->
                        <div class="col-md-1 position-absolute end-0 top-0">
                            @if (IsAdmin)
                            {
                                <div class="editor editor-toggle dropdown">
                                    <button id="dropdown-edit-main" type="button" style="border:none;background-color:transparent;" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="icon icon-md icon-options-dots"></span>
                                    </button>

                                    <ul class="dropdown-menu mt-2" aria-labelledby="dropdown-edit-main">
                                        <li><a class="dropdown-item" data-bs-target="#modal-edit-main" data-bs-toggle="modal" href="#">Edit information</a></li>
                                    </ul>
                                </div>
                            }
                        </div>

                    </div>

                </div>
            </div>

        </div>

        <!-- Description Block -->
        <hr>
        <div class="row">
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-secondary mb-4 border-bottom shadow-sm fs-5">Biography</li>
                <li class="list-group-item mb-8 border-bottom shadow-sm fs-5">
                    @(Model.Person.Description??"")
                </li>
            </ul>
        </div>

        <!-- Filmography Block -->
        <hr>
        <div class="row border-bottom">
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-secondary mb-4 border-bottom shadow-sm fs-5">
                    <div class="row">

                        <div class="col-md-11">
                            <span>Filmography</span>
                        </div>

                        <div class="col-md-1">
                            @if (IsAdmin)
                            {
                                <button class="editor editor-toggle button-add-filmography" data-bs-target="#modal-add-filmography" data-bs-toggle="modal" type="button" style="border:none;background-color:transparent;" aria-expanded="false">
                                    <span class="icon icon-md icon-plus"></span>
                                </button>
                            }
                        </div>
                    </div>

                </li>
            </ul>

            <!-- Carousel Block -->
            <div class="row carousel-row">
                @if (Model.Person.Filmography != null)
                {
                    <div id="carousel-filmography" class="carousel slide" data-bs-interval="false" data-bs-touch="false">

                        <div class="col-1 text-bg-dark"></div>
                        @{
                            const int r = 2;
                            const int c = 5;
                            int k = r * c;
                            int l = (Model.Person.Filmography == null ? 0 : Model.Person.Filmography.Length);
                            int m = l / k;
                            int L = m * k;
                        }

                        <div class="col-10 offset-1">
                            <div class="carousel-inner">

                                <!-- Carousel Items -->
                                @for (int i = 0; i < L+k; i+=k)
                                {
                                    <div class="@(i==0? "carousel-item active" : "carousel-item")">
                                        <div class="row row-cols-@c">
                                            @for (int j = i; j < i+k; j++)
                                            {
                                                @if(j == l){
                                                    i = L + k;
                                                    break;
                                                }
                                                <div id="@Model.Person.Filmography[j].Id" class="col">
                                                    <form id="update-edit-filmography-@Model.Person.Filmography[j].Id" method="post">
                                                        <partial name="_FilmCard" model="Model.Person.Filmography[j]" />
                                                    </form>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="col-1 text-bg-dark"></div>

                        <!-- Slide Buttons -->
						<button class="carousel-button carousel-control-prev @(l > k-1 ? "" : "no-display")" type="button" data-bs-target="#carousel-filmography" style="background-color:lightgrey;width:40px" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
                        <button class="carousel-button carousel-control-next @(l > k-1 ? "" : "no-display")" type="button" data-bs-target="#carousel-filmography" style="background-color:lightgrey;width:40px" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>

                    </div>
                }
            </div>
        </div>

	</div>

	<script src="~/js/person_events.js" asp-append-version="true" type="module"></script>

</body>


