@using EncyclopediaService.Api.Models.Edit
@model EditStudio
@{
}

<input type="hidden" asp-for="@(Model.Id)" value="@(Model.Id)">
<input type="hidden" asp-for="@(Model.Name)" value="@(Model.Name)">
<input type="hidden" asp-for="@(Model.Picture)" value="@(Model.Picture)">
<input type="hidden" asp-for="@(Model.PictureUri)" value="@(Model.PictureUri)">

<div class="row studio-logo-grid">
    <div class="col-6">
		@if (Model.PictureUri != null)
		{
			<img src=@(Model.PictureUri) style="width:130px;" alt="@(Model.Name)">
		}
		else
		{
			<img class="img img-fluid img-placeholder" style="width:130px;" alt="@(Model.Name)">
		}
    </div>
	<div class="col-6">

			    <ul class="list-group list-group-flush">
				<li class="list-group-item form-group search-dropdown search-studio">
						<label asp-for="Name">Provide name</label>
						<br>
						<input class=" search-input form-control" placeholder="Search.." asp-for="Name" autofocus autocomplete="off">
					    <ul class="list-group suggestions-studio search-suggestions studio-logo-search"></ul>
						<br>
						<span asp-validation-for="Name" class="text-danger"></span>
					</li>
			    </ul>
    </div>
</div>
