@using Shared.CinemaDataService.Models.Flags;
@using EncyclopediaService.Api.Models.Edit;
@model EditFilm
@{
	bool NewFilm  = Model.Id == null || Model.Id == "";
}

<input type="hidden" id="partial" name="partial" value="form" />
<input type="hidden" asp-for="@(Model.Name)" value="@(Model.Name)">
<input type="hidden" asp-for="@(Model.Id)" value="@(Model.Id)">
<input type="hidden" asp-for="@(Model.Picture)" value="@(Model.Picture)">
<input type="hidden" asp-for="@(Model.PictureUri)" value="@(Model.PictureUri)">
<input type="hidden" asp-for="@(Model.Year)" value="@(Model.Year)">

<div class="row cinema-poster-grid">
	<div class="col-6">
		@if (Model.Picture != null)
		{
			<img src="@(Model.PictureUri)" class="img img-fluid" style="width:130px;" alt="@(Model.Name)">
		}
		else
		{
			<img class="img img-fluid img-placeholder" style="width:130px;" alt="@(Model.Name)">
		}
	</div>
	<div class="col-6">
		<ul class="list-group list-group-flush">
			@if (NewFilm)
			{

				<li class="list-group-item form-group search-dropdown search-filmography">
					<label asp-for="Name">Provide title</label>
					<br>
					<input class="form-control search-input" placeholder="Search.." asp-for="Name" autofocus autocomplete="off">
					<ul class="list-group search-suggestions suggestions-filmography cinema-poster-search"></ul>
					<br>
					<span asp-validation-for="Name" class="text-danger"></span>
				</li>

			}
			else
			{
				<li class="list-group-item form-group">
					<input class="form-control search-input search-filmography" placeholder="@Model.Name" asp-for="Name" value="@Model.Name" disabled>
				</li>
			}
		</ul>

	</div>
</div>

