@using Shared.CinemaDataService.Models.Flags;
@model EncyclopediaService.Api.Models.Edit.EditStarring
@{
	bool NewStarring  = Model.Id == null || Model.Id == "";
}

<input type="hidden" id="partial" name="partial" value="form"/>
<input type="hidden" asp-for="@(Model.Id)" value="@(Model.Id)"/>
<input type="hidden" asp-for="@(Model.Name)" value="@(Model.Name)"/>
<input type="hidden" asp-for="@(Model.Picture)" value="@(Model.Picture)"/>
<input type="hidden" asp-for="@(Model.PictureUri)" value="@(Model.PictureUri)"/>


<div class="row">

	<div class="col-6 person-picture-grid">
		<div class="row">

			@if (Model.Picture != null)
			{
				<img src="@(Model.PictureUri)" class="img img-fluid" alt="Starring Image">
			}
			else
			{
				<img class="img img-fluid img-placeholder" alt="Starring Image">
			}

		</div>
		<div class="row">
			<ul class="list-group list-group-flush">
				@if (NewStarring)
				{
					<li class="list-group-item form-group position-relative search-dropdown search-starring">
						<label asp-for="Name">Provide name</label>
						<br>
						<input class="form-control search-input" asp-for="Name" autofocus autocomplete="off">
						<ul class="list-group search-suggestions suggestions-starring person-picture-search"></ul>
						<br>
						<span asp-validation-for="Name" class="text-danger"></span>
					</li>

				}
				else
				{
					<li class="list-group-item form-group">
						<input class="form-control search-input search-starring" placeholder="@Model.Name" asp-for="Name" value="@Model.Name" disabled>
					</li>
				}
			</ul>
		</div>
	</div>

	<div class="col-6">
		<ul class="list-group list-group-flush">
			<li class="list-group-item form-group">
				<label asp-for="Jobs">Choose occupation</label>
				<div class="row row-cols-2">

					@foreach (int job in Enum.GetValues(typeof(Job)))
					{
						@if (job == 0)
						{
							continue;
						}
						<div class="col-6 ps-0 pe-0">
							<input id="starring-jobs_@job" class="name-dependant check" type="checkbox" name="JobsBind" value="@job" 
							       @(((Model.Jobs & (Job)job) != 0) ? "checked" : "")  @(NewStarring ? "disabled" : "") />
							<label for="starring-jobs_@job" class="fs-6">@((Job)job)</label>
						</div>
					}

				</div>
				<span asp-validation-for="@Model.JobsBind" class="text-danger"></span>
			</li>
			<li class="list-group-item form-group">
				<label asp-for="RoleName">Provide actor's role name</label>
				<br>
				<input class="form-control name-dependant jobs-dependant" asp-for="RoleName" disabled="@((Model.Jobs & Job.Actor) == 0)">
			</li>
			<li class="list-group-item form-group">
				<label asp-for="RolePriority">Choose role priority</label>
				<br>
				<select class="form-select name-dependant jobs-dependant" asp-for="RolePriority" asp-items="Html.GetEnumSelectList<RolePriority>()" disabled="@((Model.Jobs & Job.Actor) == 0)"></select>
			</li>
		</ul>
	</div>

</div>

