@using EncyclopediaService.Api.Models.Display;
@using EncyclopediaService.Api.Extensions;
@model ProductionStudio
@{
	bool IsAdmin = User.IsAdmin();
}

<input type="hidden" id="partial" name="partial" value="card" />

<div class="card studio-card mb-4">
	<div class="row">
		<div class="col-md-auto">

			<div class="d-flex studio-logo-grid">

				<a href="/encyclopedia/persons/@Model.Id">
					@if (Model.Picture != null)
					{
						<img src="@(Model.PictureUri)" class="img img-block img-fluid" alt="@(Model.Name)">
					}
					else
					{
						<img class="img img-fluid img-block img-placeholder" alt="@(Model.Name)">
					}
				</a>

				@if (IsAdmin)
				{
					<div class="editor editor-toggle dropdown">
						<button id="dropdown-studio" type="button" style="border:none;background-color:transparent;" data-bs-toggle="dropdown" aria-expanded="false">
							<span class="icon icon-sm icon-options-dots mt-3"></span>
						</button>

						<ul class="dropdown-menu mt-2" aria-labelledby="dropdown-studio">

							@if (Model.ParentId is null)
							{
								<li>
									<button class="dropdown-item dropdown-delete-studio" value="@Model.Id"
									data-bs-target="#modal-delete-studio" data-bs-toggle="modal" href="#">
										Delete
									</button>
								</li>

							}
							else
							{
								<li>
									<button class="dropdown-item dropdown-delete-studio" value="@Model.Id">
										Delete
									</button>
								</li>
							}


						</ul>
					</div>
				}
				else
				{
					<div class="pad-card"></div>
				}
			</div>
		</div>
	</div>

	@if (Model.ParentId is null)
	{
		<input type="hidden" asp-for="Id" value="@Model.Id" />
		<input type="hidden" asp-for="Name" value="@Model.Name" />
		<input type="hidden" asp-for="Picture" value="@Model.Picture" />
	}
	else
	{
		<input type="hidden" name="@(Model.ParentId).Index" value="@Model.Id" />
		<input type="hidden" name="@(Model.ParentId)[@Model.Id].Id" value="@Model.Id" />
		<input type="hidden" name="@(Model.ParentId)[@Model.Id].Name" value="@Model.Name" />
		<input type="hidden" name="@(Model.ParentId)[@Model.Id].Picture" value="@Model.Picture" />
	}

	<div class="card-body border-bottom" style="padding-bottom:1rem;">
		<div class="text-truncate">
			<h6 class="card-text fw-normal text-truncate">
				<a href="/encyclopedia/studios/@Model.Id" class="text-decoration-none link-dark">@Model.Name</a>
			</h6>
		</div>
		<div class="text-wrap">
			<div class="row">
			</div>
		</div>
	</div>
</div>
